/*-------------  TYPOGRAPHY SYSTEM ----------

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

 ----------  WHITESPACE SYSTEM ----------

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #357e88;
  --primary-light-0: #eef7f9;
  --primary-light-1: #d7ecef;
  --primary-light-2: #8abfc7;
  --primary-light-3: #54969f;
  --primary-dark-1: #1e6f7a;
  --primary-dark-2: #0f555f;
  --secondary: #a43e8a;
  --secondary-light-0: #f4e1ef;
  --secondary-light-1: #d995c8;
  --secondary-light-2: #be63a7;
  --secondary-dark-1: #922276;
  --secondary-dark-2: #73105a;
  --tertiary: #f6c45f;
  --tertiary-light-1: #fae1af;
  --tertiary-light-2: #f7cc77;
  --tertiary-dark-1: #e79e0d;
  --tertiary-dark-2: #b97f0b;

  --white: #fff;
  --dark: #0a191b;
  --grey-light-1: #e8eff0;
  --grey-light-2: #d2dadb;
  --grey: #bfc1c2;
  --grey-dark-1: #6e7c7e;
  --grey-dark-2: #4e5859;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; we don't use px bacause will set the size(to 10px) no matter if the user changes his browser settings */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden; /* we don't want to see the mobile menu from outside the screen */
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1;
  color: var(--grey-dark-2);
  overflow-x: hidden;
}

/* ---------- General components ---------- */

.grid-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* ---------- Headings ---------- */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: var(--primary-dark-1);
  letter-spacing: -0.6px;
}

.heading-primary {
  color: var(--secondary-dark-1);
  font-size: 4.4rem;
  line-height: 1.3;
  margin-bottom: 4.8rem;
}

.heading-secondary {
  text-align: center;
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 1.2;
}

.heading-secondary::before {
  content: "";
  display: block;
  width: 10rem;
  height: 2px;
  background: var(--primary-light-2);
  position: relative;
  top: 6.4rem;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s;
}

.heading-secondary:hover::before {
  width: 40rem;
  cursor: pointer;
}

.heading-tertiary {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-tertiary-white {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--white);
  margin-bottom: 4.8rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--secondary-dark-2);
  margin-bottom: 3.2rem;
  letter-spacing: 2.1px;
  line-height: 1.5;
}

/* ---------- Buttons ---------- */

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.btn-small {
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

.btn-full-sec:link,
.btn-full-sec:visited {
  background-color: var(--secondary-dark-1);
  color: var(--white);
  transition: all 0.3s;
}

.btn-full-sec:hover,
.btn-full-sec:active {
  background-color: var(--secondary-dark-2);
  color: var(--white);
}

.btn-full-pri:link,
.btn-full-pri:visited {
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.3s;
}

.btn-full-pri:hover,
.btn-full-pri:active {
  background-color: var(--primary-dark-2);
  color: var(--white);
}

.btn-outline-ter-sm:link,
.btn-outline-ter-sm:visited {
  font-size: 1.8rem;
  /* font-weight: 600; */
  padding: 1rem 2rem;
  background-color: transparent;
  color: var(--secondary-dark-1);
  box-shadow: inset 0 0 0 1px var(--secondary);
  transition: all 0.3s;
}

.btn-outline-ter-sm:hover,
.btn-outline-ter-sm:active {
  color: var(--white);
  background-color: var(--tertiary-dark-1);
  box-shadow: inset 0 0 0 1px var(--tertiary); /* creates a border*/
}

.btn-outline-pri,
.btn-outline-pri:link,
.btn-outline-pri:visited {
  color: var(--primary-dark-2);
  box-shadow: inset 0 0 0 1px var(--primary); /* creates a border*/
  transition: all 0.3s;
  background-color: transparent;
}

.btn-outline-pri:hover,
.btn-outline-pri:active {
  color: var(--white);
  background-color: var(--tertiary-dark-1);
  box-shadow: inset 0 0 0 1px var(--tertiary-light-2); /* creates a border*/
}
.btn-outline-ter:link,
.btn-outline-ter:visited {
  color: var(--secondary-dark-1);
  box-shadow: inset 0 0 0 1px var(--secondary); /* creates a border*/
  transition: all 0.3s;
}

.btn-outline-ter:hover,
.btn-outline-ter:active {
  color: var(--white);
  background-color: var(--tertiary-dark-1);
  box-shadow: inset 0 0 0 1px var(--tertiary); /* creates a border*/
}

/* ---------- paragraph ---------- */
.text-description {
  font-size: 1.8rem;
  letter-spacing: 1px;
  line-height: 1.5;
  margin-bottom: 2rem;
  overflow-wrap: break-word;
}

.text-white {
  color: var(--white);
}

/* ---------- Utilities --------- */

.mb-bg {
  margin-bottom: 9.6rem;
}
.mb-md {
  margin-bottom: 3.2rem;
}
.margin-bottom-sm {
  margin-bottom: 1.2rem;
}
