@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");

:root {
  --primary: #357e88;
  --primary-light-3: #54969f;
  --primary-light-2: #8abfc7;
  --primary-light-1: #d7ecef;
  --primary-dark-1: #1e6f7a;
  --primary-dark-1: #0f555f;
  --secondary: #a43e8a;
  --secondary-light-2: #be63a7;
  --secondary-light-1: #d995c8;
  --secondary-dark-1: #922276;
  --secondary-dark-1: #73105a;
  --white: #fff;
  --dark: #0a191b;
  --grey-light-1: #e8eff0;
  --grey-light-1: #d2dadb;
  --grey-dark-1: #6e7c7e;
  --grey-dark-1: #4e5859;
}
